/* you will add css rules for element selectors and IDs */

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

header {
    background: #232325;
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
}

nav ul a {
    text-decoration: none;
    font-size: large;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
    margin: auto;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

section {
   max-width: 50%;
}

h2 {
    text-align: left;
}

article {
    display: flex;
    padding: 1rem;
}

#cougar {
    background: #B26219;
    color: #000;
}
#lion {
    background: #FFD5AE;
    color: #000;
}
#tiger {
    background: #FFBD82;
    color: #000;
}

.photo {
    padding: 2rem;
}

.text {
    padding: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

footer {
    background: #232325;
    padding: 2rem;
    text-align: center;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #CCF6FF;
}
